.app {
  width: 80%;
  margin: 1em auto;
  background-color: #ECF0F1;
  min-height: 100vh;
  padding: 1rem;
}

.app img {
  max-width: 250px;
  display: block;
  margin: 1em auto;
}

.app header {
  margin-bottom: 1rem;
}
